In [1]:
import numpy as np
import pandas as pd
from sklearn.neural_network import MLPRegressor as mlp
from keras.layers import Dense, Dropout, Activation
from keras.models import Sequential
import matplotlib.pyplot as plt
%matplotlib inline

Using TensorFlow backend.

In [2]:
## Data preparation

In [3]:
data= pd.read_csv('^DJI.csv')
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
4279,2017-01-05,19924.560547,19948.599609,19811.119141,19899.289063,19899.289063,269920000
4280,2017-01-06,19906.960938,19999.630859,19834.080078,19963.800781,19963.800781,277700000
4281,2017-01-09,19931.410156,19943.779297,19887.380859,19887.380859,19887.380859,287060000
4282,2017-01-10,19876.349609,19957.119141,19836.029297,19855.529297,19855.529297,299410000
4283,2017-01-11,19887.380859,19973.419922,19833.160156,19954.279297,19954.279297,336150000

In [4]:
data= data.dropna(axis=0)
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
4279,2017-01-05,19924.560547,19948.599609,19811.119141,19899.289063,19899.289063,269920000
4280,2017-01-06,19906.960938,19999.630859,19834.080078,19963.800781,19963.800781,277700000
4281,2017-01-09,19931.410156,19943.779297,19887.380859,19887.380859,19887.380859,287060000
4282,2017-01-10,19876.349609,19957.119141,19836.029297,19855.529297,19855.529297,299410000
4283,2017-01-11,19887.380859,19973.419922,19833.160156,19954.279297,19954.279297,336150000

In [5]:
data= data.values[:, 1:5]
print (data.shape)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(data.shape)? (<ipython-input-5-29c36dace865>, line 2)

In [ ]:
print (data[:6, :])

In [ ]:
y= data[1:, 3]
print (y.shape)
X= data[:4283,:]
print (X.shape)

In [ ]:
y= (y- min(y))/(max(y)- min(y))

In [ ]:
print (y[4270:])
print (y[:7])

In [ ]:
X= (X- np.min(X,axis=0))/(np.max(X, axis=0)-np.min(X,axis=0))
print X.shape
print X[:7, 3]

In [ ]:
split = int(0.8*data.shape[0])
X_train = X[:split]
X_test = X[split:]

y_train = y[:split]
y_test = y[split:]

print X_train.shape, y_train.shape
print X_test.shape, y_test.shape

In [ ]:
## Model fitting and score calculation

In [ ]:
model= mlp(hidden_layer_sizes=(100, 50), activation='relu', solver='adam', verbose=True)

In [ ]:
model.fit(X_train, y_train)

In [ ]:
y_pred= model.predict(X_test)

In [ ]:
rmse= (((y_pred - y_test)**2).sum())/y_pred.size
print rmse

In [ ]:
## To show how well the trend of y_test has been tracked by y_pred

In [ ]:
plt.plot(y_pred, 'r-')
plt.plot(y_test, 'b-')
plt.show()

In [ ]:
## To show how similar y_pred and y_test are

In [ ]:
plt.plot(y_test, y_pred, 'bo')
plt.xlabel('y_test')
plt.ylabel('y_pred')
plt.show()

In [ ]:
model.score(X_test, y_test)

In [ ]:
#The score fluctuates between 75 to 85 based on the number of layers and random initialisation